<div class="container">
    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1>A Scraper for the New York Times, using cheerio and MongoDB.</h1>
        </div>
    </div>

    <div class="col-md-12">
        {{#if article}}
            {{#each article}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="https://nytimes.com{{this.link}}" target="_blank">{{this.title}}</a>
                </div>
                <div class="panel-body">
                    <p>{{this.summary}}</p>
                    <br>
                    <button type="button" class="btn btn-secondary save" data-id={{this._id}}>Save Article</button>
                </div>
            </div>
            {{/each}}
        {{#else}}
            <div class="pane panel-default">
                <div class="panel-body">
                    <h4>Uh oh! Looks like we're fresh out of articles today.</h4>
                </div>
            </div>
        {{/if}}
    </div>
</div>

